.calculator {
  width: 350px;
  height: 400px;
  border: 2px solid grey;
  margin: 100px auto 0;
  text-align: center;
  border-radius: 4px;
  user-select: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none; 
}

.screen {
  align: center;
  margin: 20px;
  width: 300px;
  height: 50px;
  border: 1px solid grey;
  border-radius: 5px;
  text-align: right;
  font: 700 16px/1 Roboto;
  overflow: auto;

}

.buttons {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.buttons div {
    width: 70px;
    height: 50px;
    border: 1px solid #d1d1d1;
    display: inline-block;
    margin-bottom: 4px;
    border-radius: 4px;
    font: 700 16px/1 Roboto;
    font-size: 20px;
    color: black;
    line-height: 50px;
    cursor: pointer;
}

.buttons div:hover {
    background-color: #ddd1e0;
}

.enter {
  background-color: #fce483;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
